<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>header}}
    <!-- Main section -->
    <div class=" container-fluid mt-5 main_part">
        <div class="row">
            <div class=" col-lg-10 mx-auto">
                <div class=" container-xl">
                    <h1>I am Weather Page</h1>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>